* {
  padding: 0;
  margin: 0;
}

.sign {
  background: url(./../../../img/login/bgr4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -74px -141px;
  background-size: 175ch;
  height: 543px;
  padding-bottom: 100px;
}

.sign__card {
  border-radius: 30px;
  background: #fff;
  width: 350px;
  text-align: center;
  margin: 100px 665px;
}

.sign__card-title {
  padding-top: 40px;
  color: #6e4e92;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}

.sign__card-input {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 25px;
}

.sign__card-input input {
  padding: 15px 20px;
  outline: none;
  border: 5px solid #6e4e92;
  border-radius: 20px;

  color: #6e4e92;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
}

input::-webkit-input-placeholder {
  color: #d2b4f4;
}

.sign__button {
  padding-bottom: 40px;
}

.sign__button-btn {
  display: flex;
  flex-direction: column;
  margin: 0 75px;
  gap: 30px;
  border-radius: 20px;
  background: #6e4e92;
  transition: all 0.2s ease-in;
  width: 200px;
  padding: 25px 29px;
  position: relative;
}

.sign__button-btn:hover {
  background: #402d56;
}

.sign__btn-icon {
  position: absolute;
  top: 5px;
  left: 40px;
}
